@tailwind base;
@tailwind components;
@tailwind utilities;

/* Shimmer loading animation */
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/* Add shimmer animation utility */
.animate-shimmer {
  animation: shimmer 2s infinite;
}
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
